<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msrit.ratethefarm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/rate_the_farm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rate_the_farm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".LoginAndSignUp"
            android:theme="@style/OpeningScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/OpeningScreenTheme" />

        <activity
            android:name=".ForgotPassword"
            android:label="@string/page_3_heading"
            android:screenOrientation="portrait"
            android:theme="@style/OpeningScreenTheme"/>
        <activity
            android:name=".GetFarmerDetails"
            android:screenOrientation="portrait"
            android:label="@string/page_4_heading" />
        <activity
            android:name=".FarmersList"
            android:theme="@style/OpeningScreenTheme"
            android:screenOrientation="portrait"
            android:label="@string/page_5_heading" />
        <activity
            android:name=".ShowFarmerDetails"
            android:screenOrientation="portrait"
            android:label="@string/page_6_heading" />
    </application>

</manifest>